.vscode

# emacs backups
*~

# autotools
/autom4te.cache
/config.log
/config.status
/INSTALL
/Makefile
/aclocal.m4
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/podules/aeh50/src/Makefile
/podules/aeh54/src/Makefile
/podules/aka05/src/Makefile
/podules/aka10/src/Makefile
/podules/aka12/src/Makefile
/podules/aka16/src/Makefile
/podules/aka31/src/Makefile
/podules/designit_e200/src/Makefile
/podules/lark/src/Makefile
/podules/midimax/src/Makefile
/podules/morley_uap/src/Makefile
/podules/oak_scsi/src/Makefile
/podules/pccard/src/Makefile
/podules/ultimatecdrom/src/Makefile
/src/Makefile
Makefile.in

# Build artifacts
/modules.dmp
/src/wx-resources.cc
.deps
.dirstamp
.libs
*.dylib
*.la
*.lo
*.o

# Binaries
/arculator
/src/arculator

# Arculator output
/arc.cfg
/arclog.txt

# hostfs, except for the README
/hostfs/*
!/hostfs/arculfs.txt
